/* global */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

/*  main-container   */
.main-container{
    margin: 1em;
    padding: 4em;
    background-color: #161629;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.head-container{
    flex-grow: 1;
    border: 1px solid;
    align-self: flex-end;
    border: none;
}


.bottom-container{
    flex-grow: 1;
}

.menu-container{
    flex-grow: 5;
    background-color: #4bc1df;
    display: flex;
    justify-content: space-around;
    border-radius: 1em;
    padding: 1em;
    gap:1em;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-section{
    display: flex;
    flex-direction: column;
    flex-basis: 8em;
    gap: 1em;
}

select{
    border:none;
    background: transparent;
    color: gray;
    font-weight: bold;
}

.bottom-container{

}

.image{
    border-radius: 1em;
}

.smallFont{
    font-weight: bold;
}

.white{
    color: #fff;
}

#border{
    background-color: #7bcde7;
    padding: 2px 0px 2px 10px;
    border-radius: 1em;
    transform:translateX(-10px);
}

#resouces{
    color:#7bcde7;
}